<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Conis</title>
  </head>
  <body>
    <form action="/result" >
      <label for="newNumber">Cent</label>
      <input type="number" min="1" max="99" id="newNumber" name="newNumber">
      <button type="submit" name="button">Enter!</button>
    </form>


  </body>
</html>
