<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ping!</title>
  </head>
  <body>
    <form action="/result" >
      <label for="newNumber">Enter a Number Here:</label>
      <input type="number" id="newNumber" name="newNumber">
      <button type="submit" name="button">Enter!</button>
    </form>


  </body>
</html>
