<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Result</title>
  </head>
  <body>
<h1>You enter @Model.GetInputNum() .</h1>
<h1>Here is your result</h1>
<ul>
  @foreach(var item in Model.TestCombination())
  {
  <li>@item</li>
  <img src="@Url.Content(Content/img/@item.jpg)" alt="" />
  }
</ul>

  </body>
</html>
