<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Result</title>
  </head>
  <body>
<h1>Here is your result</h1>
<h2>Quarter $0.25 X </h2>
<img src="Contents/img/0.PNG" alt="" />
<h2>Dime $0.10 X </h2>
<img src="Contents/img/1.PNG" alt="" />
<h2>Nickel $0.05 X </h2>
<img src="Contents/img/2.PNG" alt="" />
<h2>Penny $0.01 X </h2>
<img src="Contents/img/3.PNG" alt="" />
  </body>
</html>
